In [1]:
import pandas as pd
import numpy as np

In [2]:
input_folder = './input_data/'

# 0.0 Etude des fichiers
## Dataframes principaux (applications test & train)

In [3]:
app_tst = pd.read_csv(input_folder+'application_test.csv')
app_train = pd.read_csv(input_folder+'application_train.csv')

In [4]:
app_tst.head(2)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0

In [5]:
print("Forme du tableau de test : ", app_tst.shape)
print("Forme du tableau de train : ", app_train.shape)
print("Nombre d'observation de test par rapport au nombre d'observation de train : "+str(np.round((app_tst.shape[0]/app_train.shape[0])*100, 2)) + "%")

Forme du tableau de test :  (48744, 121)
Forme du tableau de train :  (307511, 122)
Nombre d'observation de test par rapport au nombre d'observation de train : 15.85%

In [6]:
diff_cols = [col for col in app_train.columns.to_list() if col not in app_tst.columns.to_list()]
print("Colonnes de train non presente dans test : ", diff_cols)

Colonnes de train non presente dans test :  ['TARGET']

In [7]:
app_train.isna().sum()[app_train.isna().sum() != 0]

AMT_ANNUITY                       12
AMT_GOODS_PRICE                  278
NAME_TYPE_SUITE                 1292
OWN_CAR_AGE                   202929
OCCUPATION_TYPE                96391
                               ...
AMT_REQ_CREDIT_BUREAU_DAY      41519
AMT_REQ_CREDIT_BUREAU_WEEK     41519
AMT_REQ_CREDIT_BUREAU_MON      41519
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519
Length: 67, dtype: int64

Le Dataframe de test n'a pas de colonne dediee a la Target. Ce sera donc un vrai dataset de test, et nous entrainerons nos modeles sur le dataset de train.

In [8]:
app_train['TARGET'].value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [9]:
app_train['TARGET'].value_counts(normalize=True)

0    0.919271
1    0.080729
Name: TARGET, dtype: float64

Nos reponses ne sont effectivement pas equilibrees. 1 represente seulement 8% du dataset d'entrainement.

## Autres

In [10]:
df_bureaux = pd.read_csv(input_folder+'bureau.csv')
df_bureaux.head(2)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN

In [11]:
print("Forme df Bureaux : ", df_bureaux.shape)

Forme df Bureaux :  (1716428, 17)

In [12]:
df_bureaux_balance = pd.read_csv(input_folder+'bureau_balance.csv')
df_bureaux_balance.head(2)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C

In [13]:
print("Forme df Bureaux Balance : ", df_bureaux_balance.shape)

Forme df Bureaux Balance :  (27299925, 3)

In [14]:
df_creditcard_balance = pd.read_csv(input_folder+'credit_card_balance.csv')
df_creditcard_balance.head(2)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0

In [15]:
print("Forme df Credit Card Balance : ", df_creditcard_balance.shape)

Forme df Credit Card Balance :  (3840312, 23)

In [16]:
df_installment_payments = pd.read_csv(input_folder+'installments_payments.csv')
df_installment_payments.head(2)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525

In [17]:
print("Forme df Installments Payments : ", df_installment_payments.shape)

Forme df Installments Payments :  (13605401, 8)

In [18]:
df_pos_cash_apps = pd.read_csv(input_folder+'POS_CASH_balance.csv')
df_pos_cash_apps.head(2)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0

In [19]:
print("Forme df POS CASH Balance : ", df_pos_cash_apps.shape)

Forme df POS CASH Balance :  (10001358, 8)

In [20]:
df_previous_apps = pd.read_csv(input_folder+'previous_application.csv')
df_previous_apps.head(2)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0

In [21]:
print("Forme df Previous Applications : ", df_previous_apps.shape)

Forme df Previous Applications :  (1670214, 37)

N.B : On a un rejection code

In [22]:
df_sample_submissions = pd.read_csv(input_folder+'sample_submission.csv')
df_sample_submissions.head(2)

   SK_ID_CURR  TARGET
0      100001     0.5
1      100005     0.5

In [23]:
print("Forme df Sample Submissions : ", df_sample_submissions.shape)

Forme df Sample Submissions :  (48744, 2)

# 0.1. Etude des colonnes
## Dataframes principaux

In [24]:
df_dtype = app_train.dtypes.reset_index()
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [25]:
flag_columns = [col for col in app_train.columns.to_list() if "FLAG_" in col]
flag_document_columns = [col for col in flag_columns if "DOCUMENT" in col]
non_doc_flags = [col for col in flag_columns if col not in flag_document_columns]
print("Nombre de colonnes FLAG_xxx : ", len(flag_columns))
print("Nombre de colonnes verifiants la presence de documents : ", len(flag_document_columns))
print(f"Premier Flag Doc. : {flag_document_columns[0]} // Dernier Flag Doc. : {flag_document_columns[-1]}")
print("Colonne non associees a la presence de documents : ")
print(non_doc_flags)

Nombre de colonnes FLAG_xxx :  28
Nombre de colonnes verifiants la presence de documents :  20
Premier Flag Doc. : FLAG_DOCUMENT_2 // Dernier Flag Doc. : FLAG_DOCUMENT_21
Colonne non associees a la presence de documents :
['FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL']

In [26]:
app_train['FLAG_EMAIL'].value_counts()

0    290069
1     17442
Name: FLAG_EMAIL, dtype: int64

In [27]:
df_dtype[df_dtype['index'].isin(flag_columns)][0].value_counts()

int64     26
object     2
Name: 0, dtype: int64

In [28]:
object_cols = df_dtype[df_dtype[0] == 'object']['index'].values.tolist()
print("Object Columns : ")
print(object_cols)

Object Columns :
['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

In [29]:
app_train['FLAG_OWN_CAR'].value_counts()

N    202924
Y    104587
Name: FLAG_OWN_CAR, dtype: int64

In [30]:
app_train['FLAG_OWN_REALTY'].value_counts()

Y    213312
N     94199
Name: FLAG_OWN_REALTY, dtype: int64

Deux colonnes de Flag sont de type "Objets" et contiennent des "N"/"Y" au lieu de 0 et de 1.

In [31]:
app_train['CODE_GENDER'].value_counts()

F      202448
M      105059
XNA         4
Name: CODE_GENDER, dtype: int64

Haha, je n'avais jamais pense que la binarite allait rendre mon travail tellement plus complique (la dummyfication de variables etaient tellement plus simple avant xD)

In [32]:
len(flag_document_columns + non_doc_flags)

28

In [33]:
app_train['NAME_TYPE_SUITE'].value_counts()

Unaccompanied      248526
Family              40149
Spouse, partner     11370
Children             3267
Other_B              1770
Other_A               866
Group of people       271
Name: NAME_TYPE_SUITE, dtype: int64

In [34]:
app_train['NAME_INCOME_TYPE'].value_counts()

Working                 158774
Commercial associate     71617
Pensioner                55362
State servant            21703
Unemployed                  22
Student                     18
Businessman                 10
Maternity leave              5
Name: NAME_INCOME_TYPE, dtype: int64

In [35]:
app_train['NAME_EDUCATION_TYPE'].value_counts()

Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: NAME_EDUCATION_TYPE, dtype: int64

In [36]:
app_train['NAME_FAMILY_STATUS'].value_counts()

Married                 196432
Single / not married     45444
Civil marriage           29775
Separated                19770
Widow                    16088
Unknown                      2
Name: NAME_FAMILY_STATUS, dtype: int64

In [37]:
app_train['NAME_HOUSING_TYPE'].value_counts()

House / apartment      272868
With parents            14840
Municipal apartment     11183
Rented apartment         4881
Office apartment         2617
Co-op apartment          1122
Name: NAME_HOUSING_TYPE, dtype: int64

In [38]:
app_train['REGION_POPULATION_RELATIVE'].value_counts()

0.035792    16408
0.046220    13442
0.030755    12163
0.025164    11950
0.026392    11601
            ...
0.001417      467
0.001333      235
0.000533       39
0.000938       28
0.000290        2
Name: REGION_POPULATION_RELATIVE, Length: 81, dtype: int64

In [39]:
app_train['OCCUPATION_TYPE'].value_counts()

Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: OCCUPATION_TYPE, dtype: int64

In [40]:
app_train['WEEKDAY_APPR_PROCESS_START'].value_counts()

TUESDAY      53901
WEDNESDAY    51934
MONDAY       50714
THURSDAY     50591
FRIDAY       50338
SATURDAY     33852
SUNDAY       16181
Name: WEEKDAY_APPR_PROCESS_START, dtype: int64

In [41]:
app_train['HOUR_APPR_PROCESS_START'].value_counts()

10    37722
11    37229
12    34233
13    30959
14    27682
9     27384
15    24839
16    20385
8     15127
17    14900
7      9131
18     9049
6      5842
19     3848
5      3638
4      2090
3      1230
20     1196
21      405
2       305
22      150
1        86
23       41
0        40
Name: HOUR_APPR_PROCESS_START, dtype: int64

In [42]:
app_train['ORGANIZATION_TYPE'].value_counts()

Business Entity Type 3    67992
XNA                       55374
Self-employed             38412
Other                     16683
Medicine                  11193
Business Entity Type 2    10553
Government                10404
School                     8893
Trade: type 7              7831
Kindergarten               6880
Construction               6721
Business Entity Type 1     5984
Transport: type 4          5398
Trade: type 3              3492
Industry: type 9           3368
Industry: type 3           3278
Security                   3247
Housing                    2958
Industry: type 11          2704
Military                   2634
Bank                       2507
Agriculture                2454
Police                     2341
Transport: type 2          2204
Postal                     2157
Security Ministries        1974
Trade: type 2              1900
Restaurant                 1811
Services                   1575
University                 1327
Industry: type 7           1307
Transport: type 3          1187
Industry: type 1           1039
Hotel                       966
Electricity                 950
Industry: type 4            877
Trade: type 6               631
Industry: type 5            599
Insurance                   597
Telecom                     577
Emergency                   560
Industry: type 2            458
Advertising                 429
Realtor                     396
Culture                     379
Industry: type 12           369
Trade: type 1               348
Mobile                      317
Legal Services              305
Cleaning                    260
Transport: type 1           201
Industry: type 6            112
Industry: type 10           109
Religion                     85
Industry: type 13            67
Trade: type 4                64
Trade: type 5                49
Industry: type 8             24
Name: ORGANIZATION_TYPE, dtype: int64

In [43]:
app_train['APARTMENTS_AVG'].value_counts()

0.0825    6663
0.0619    6332
0.0928    4404
0.0722    3986
0.0082    3507
          ...
0.3727       1
0.1075       1
0.7165       1
0.8237       1
0.3466       1
Name: APARTMENTS_AVG, Length: 2339, dtype: int64

# Preparation Dataset
## Main DF

In [44]:
colonnes_a_enlever = ['NAME_TYPE_SUITE', 'OCCUPATION_TYPE',
                      'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
                      'ORGANIZATION_TYPE',
                      'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
                      'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
                      'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
print("Length colonnes a enlever 1 : ", len(colonnes_a_enlever))
colonnes_a_enlever += flag_document_columns
print("Length colonnes a enlever 1 : ", len(colonnes_a_enlever))

Length colonnes a enlever 1 :  14
Length colonnes a enlever 1 :  34

In [45]:
colonnes_a_conserver = [col for col in app_train.columns.tolist() if col not in colonnes_a_enlever]
len(colonnes_a_conserver)

88

In [46]:
df_main = app_train[colonnes_a_conserver]
df_main.dtypes.value_counts()

float64    56
int64      20
object     12
dtype: int64

Pour avoir un premier modele le plus simple possible, on va, pour l'instant, supprimer toutes les colonnes de type Objet.

In [47]:
df_dtype = df_main.dtypes.reset_index()
object_cols = df_dtype[df_dtype[0] == 'object']['index'].values.tolist()
print("Object Columns : ")
print(object_cols)

Object Columns :
['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

In [48]:
colonnes_a_conserver = [col for col in df_main.columns.tolist() if col not in object_cols]
df_main = df_main[colonnes_a_conserver]
df_main.shape

(307511, 76)

In [49]:
df_pos_cash_apps.dtypes

SK_ID_PREV                 int64
SK_ID_CURR                 int64
MONTHS_BALANCE             int64
CNT_INSTALMENT           float64
CNT_INSTALMENT_FUTURE    float64
NAME_CONTRACT_STATUS      object
SK_DPD                     int64
SK_DPD_DEF                 int64
dtype: object